@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'GeneralSans-Variable';
    src: url('/fonts/GeneralSans-Variable.woff2') format('woff2'),
    url('/fonts/GeneralSans-Variable.woff') format('woff'),
    url('/fonts/GeneralSans-Variable.ttf') format('truetype');
    font-weight: 200 700;
    font-display: swap;
    font-style: normal;
}

body {
    font-family: GeneralSans-Variable, sans-serif;
    font-size: 100%;
    opacity: 0;
    transition: opacity 1.5s ease;
    background-color: #353549;
    color: #afb1b2;
}

body.loaded {
    opacity: 1;
    transition: opacity 1.5s ease;
}

h1, h2 {
    letter-spacing: 0.1px;
    font-weight: 700;
}

h2 {
    font-size:120%;
}

a, p {
    font-size: 110%;
    font-weight: 400;
}

a {
    color: rgb(96 165 250);
    transition:color 0.5s ease;
}

a:hover {
    color:red;
    transition:color 0.5s ease;
}